.dark{
  .vxe-cell--checkbox{
    .vxe-checkbox--icon{
      color: unset !important;
    }
  }
}

:root .vxe-grid {
  --vxe-ui-table-row-checkbox-checked-background-color: #FFE58F !important;
}

:root.dark .vxe-grid {
  --vxe-ui-table-row-checkbox-checked-background-color: #8A6A00 !important;
}
